.test {
	height:100px;
	background:grey;
	width: 100px;
}

.mycontainer {
  border-width: 3px;
  margin-top: 50px;
}

.product{
	padding: 10px;
	margin:4%;
	margin-top: 10px;
}
.search{
	margin-left: auto;
  margin-right: 0em;
}
.navtext{            
    font-size: 15pt;
}
.navmarg{
 margin-top: 5pt;
}
.butmar{
 margin: 5px;
}
.marg10{
 margin: 10px;
}
.pt-3-half {
padding-top: 1.4rem;
}
.addrow{
	align-items: center; 
	justify-content: center;
}